#admin {
  width: 100%;
  height: 100vh;
  overflow: hidden;

  padding: 0 20rem;
  margin: 0 auto;

  .admin-layout {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    height: 100%;
    width: 100%;
  }
}

#add-blog,
#edit-blog {
  width: 100%;
  min-height: 100vh;

  padding: 10rem 20rem;
  
  form {
    width: 100%;
    height: 75vh;

    overflow-x: hidden;
    overflow-y: auto;
    
  }

  button[type="submit"] {
    
    all: unset;
    margin-top: 5rem;
    margin-bottom: 3.5rem;

    width: 100%;
    height: 3.5rem;

    background-color: $color-primary-dark;

    text-align: center;
    font-size: $font-size-md;
    color: $color-white;

    cursor: pointer;

    &:hover {
      background-color: rgba($color-primary, 1);
    }
  }

  .heading {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    .not-allowed {
      color: $color-primary;
    }

    .allowed {
      color: $color-black;
    }
  }
}
