@each $key, $value in $dimensions {
  .h-#{$key} {
    @include height($value);
  }
}

@each $key, $value in $margins {
  .mx-#{$key} {
    @include margin-inline($value);
  }
}

@each $key, $value in $margins {
  .mr-#{$key} {
    @include margin-right($value);
  }
}

@each $key, $value in $margins {
  .mt-#{$key} {
    @include margin-top($value);
  }
}

@each $key, $value in $margins {
  .ml-#{$key} {
    @include margin-left($value);
  }
}

.text-primary { color: $color-primary; }
.hidden { display: none; }
.inline-block { display: inline-block; }
.w-full { width: 100% !important; }
.h-full { height: 100% !important; }
.flex { display: flex; }
.items-center { align-items: center !important; }
.justify-center { justify-content: center !important; }
.cursor-pointer { cursor: pointer; }