$color-primary: #eb5f3a;
$color-secondary: #001534;

// PRIMARY SHADES

// DEFAULT
$color-black: #1d1d1d;
$color-white: #f0f0f0;

$dimensions: (
  5: 0.5rem,
  10: 1rem,
  12: 1.2rem,
  32: 3.2rem,
);

$margins: (
  5: 0.5rem,
  10: 1rem,
  12: 1.2rem,
);
