
$color-primary: #B74652;
$color-secondary: #071211;

// PRIMARY SHADES
$color-primary-extradark: #5c2329;
$color-primary-dark: #81313a;
$color-primary-medium: #bf5964;
$color-primary-light: #ce7e86;
$color-primary-extralight: #eac8cb;

// SECONDARY SHADES
$color-secondary-shade1: #153734;
$color-secondary-shade2: #235c56;
$color-secondary-shade3: #318179;
$color-secondary-shade3: #59bfb5;
$color-secondary-shade3: #a3dcd6;
$color-secondary-shade3: #c8eae6;

// DEFAULT
$color-black: #1d1d1d;
$color-white: #f0f0f0;

// BLACK SHADES
$color-black-shade1: #262626;
$color-black-shade2: #595959;
$color-black-shade3: #a6a6a6;
// WHITE SHADES
$color-white-shade1: #d9d9d9;

$text-high-contrast-rgb-value: 49, 49, 49;
$detail-medium-contrast: rgb(234, 234, 234);
$detail-high-contrast: rgb(192, 192, 192);
$text-body: rgb(54, 49, 61);

// Font Sizes ===============================================

$font-size-xs: 0.8rem; // 8px
$font-size-sm: 1rem; // 10px

$font-size-base: 1.2rem; // === ref (12px)

$font-size-md: 1.6rem;     // 16px
$font-size-lg: 2rem;  // 20px
$font-size-xl: 2.4rem;  // 24px
$font-size-2xl: 2.8rem;  // 28px
$font-size-3xl: 3.2rem;  // 32px
$font-size-4xl: 4rem;  // 40px
$font-size-5xl: 4.8rem;  // 48px
// ==========================================================

$product-slide-height: 19rem;
$product-slide-spacing: 1rem;
$product-slide-size: 100%;

// Font Weights
$font-extralight: 200;
$font-light: 400;

$font-normal: 500;

$font-bold: 700;
$font-extrabold: 900;

// Line Heights
$line-height-base: 1.5;
$line-height-heading: 1.2;

$dimensions: (
  5: 0.5rem,
  10: 1rem,
  12: 1.2rem,
  32: 3.2rem,
);

$margins: (
  5: 0.5rem,
  10: 1rem,
  12: 1.2rem,
  20: 2rem,
  50: 5rem,
);

