.grid-2-4-1 {
  display: grid;
  grid-template-columns: 2fr 4fr 1fr; 
  gap: 10px; 

  .grid-item {
    padding: 10px;
    border: 1px solid #ccc;
  }

  @media (max-width: $screen-2xl) {
    grid-template-columns: 2fr 4fr; 
    grid-template-rows: 2fr 2fr; 
    grid-template-areas:
      "item-2 item-2"
      "item-1 item-3";
    
    .item-1 {
      grid-area: item-1;
    }
    .item-2 {
      grid-area: item-2;
    }
    .item-3 {
      grid-area: item-3;
    }
  }

  @media (max-width: $screen-xl) {
    grid-template-columns: 1fr; 
    grid-template-rows: 1fr auto 1fr; 
    grid-template-areas:
      "item-2"
      "item-3"
      "item-1";

    .item-1 {
      grid-area: item-1;
    }
    .item-2 {
      grid-area: item-2;
    }
    .item-3 {
      grid-area: item-3;
    }
  }

  @media (max-width: 767px) {
    grid-template-columns: 1fr; 
    grid-template-rows: 3fr 1fr; 
    grid-template-areas:
      "item-2"
      "item-3";

    .item-1 {
      display: none; 
    }
    .item-2 {
      grid-area: item-2;
    }
    .item-3 {
      grid-area: item-3;
    }
  }
}

/* 

menu-card (all-items)
*/

.grid-list {
  display: grid;
  gap: 4rem;

  margin-block-end: 5rem;
  grid-template-columns: repeat(2, 1fr);

  @media (max-width: $screen-xl) {

    grid-template-columns: 1fr;
  }
  
  @media (min-width: $screen-xl) {

    position: relative;
    column-gap: 5rem;

    &::before {

      content: "";

      position: absolute;
      top: 0;
      left: 50%;

      height: 100%;
      border-inline-start: 0.1rem solid hsla(0, 0%, 100%, 0.2);
    }
  }

  @media (min-width: 1200px) {

    gap: 2rem 10rem;
    margin-block-end: 5.5rem;
  }
}
