#header {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  background-color: $color-white;
  // background-color: #C71E2B;
  z-index: 900;
  border-bottom: 5px solid rgba($color-primary, 1);
  width: 100vw;

  padding: 1rem 20rem 0;
  @media (max-width: $screen-2xl) {
    padding: 1rem 15rem 0;
  }

  @media (max-width: $screen-xl) {
    padding: 1rem 10rem 0;
  }

  @media (max-width: $screen-lg) {
    padding: 1rem 8rem 0;
  }

  @media (max-width: $screen-md) {
    padding: 1rem 2rem 0;
  }

  .header-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    transition: all 0.3s ease;

    &.scrolled {
      height: 100px; 

      .main-logo {
        height: 90px;
        width: 110px;
  
        object-fit: cover;
        object-position: center;
      }
    }

    &.normal {
      height: 140px; 

      .main-logo {
        height: 120px;
        width: 130px;
  
        object-fit: cover;
        object-position: center;
      }
    }

    // .main-logo {
    //   height: 120px;
    //   width: 130px;

    //   object-fit: cover;
    //   object-position: center;
    // }

    .nav {
      flex: 1 1 0%;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: space-around;

      @media (max-width: $screen-xl) {
        justify-content: flex-end;
      }

      &__topbar {
        display: flex;
        align-items: center;

        margin-bottom: 10px;

        @media (max-width: 540px) {
          margin-bottom: 0;
        }

        .icon {
          @media (max-width: $screen-2xl) {
            width: 3rem;
          }
        }

        #pincode {
          margin-right: 1.2rem;
          width: 12rem;
          height: 3rem;
          border: 2px solid rgba($color-black, 0.2);
          border-radius: 2rem;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: flex-start;
          gap: 0.5rem;
          cursor: pointer;

          @media (max-width: $screen-xl) {
            display: none;
          }

          input {
            width: 100%;
            height: 100%;
            border-radius: 2rem;
            border: none;
            outline: none;
            box-shadow: none;
            font-size: 1.2rem;
            caret-color: $color-primary;
            background-color: transparent;

            &::placeholder {
              color: #0000003f;
            }

            &:focus {
              outline: none;
            }
          }

          .pincode-icon {
            height: 2.5rem;
            width: 3.2rem;
            margin-left: 0.2rem;
            background-color: rgba($color-black, 0.8);
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }

        .search-icon {
          width: 3.2rem;
          height: 3.2rem;
          border: 2px solid rgba($color-black, 0.1);
          border-radius: 50%;

          @media (max-width: $screen-xl) {
            display: none;
          }
        }

        .order-online {
          width: 12rem;
          height: 3.2rem;
          margin-right: 1rem;
          border: 0.2rem solid $color-primary;
          border-radius: 2rem;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          gap: 0.2rem;
          text-transform: uppercase;
          font-size: 0.8rem;
          font-weight: 800;
          letter-spacing: 0.1rem;
          cursor: pointer;

          z-index: 1001;

          .seen-md {
            @media (max-width: $screen-md) {
              display: none;
            }
          }

          .unseen-md {
            border: 0.2rem solid $color-primary;
            border-radius: 1rem;
            height: 100%;
            width: 5rem;

            @media (min-width: $screen-md) {
              display: none;
            }
          }

          @media (max-width: $screen-md) {
            width: 3.2rem;
            padding: 0;
            border: none;
            color: $color-primary-dark;
          }
        }
      }

      .nav-open-btn {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        border: 1px solid rgba($color-black, 0.1);
        background: none;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: rgba($color-black, 0.1);
        }

        @media (min-width: $screen-xl) {
          display: none;
        }

        .line {
          width: 3rem;
          height: 0.1rem;
          background-color: $color-black;
          margin: 4px 0;
          transform-origin: left;
          transition: background-color 0.3s ease;

          animation: menuBtn 400ms ease-in-out alternate infinite;
        }

        .line-2 {
          animation-delay: 150ms;
        }

        .line-3 {
          animation-delay: 300ms;
        }
      }

      .scroll {
        padding: 0 1rem;
      }
      margin-bottom: 0.5rem;
      .unscroll {
        padding: 1.2rem;
      }

      &__bottombar {
        display: flex;
        align-items: center;

        a {
          all: unset;
        }

        &-items {
          font-size: 1.4rem;
          padding-bottom: 12px;
          padding-inline: 16px;
          cursor: pointer;

          @media (max-width: $screen-xl) {
            display: none;
          }

          &:first-child {
            padding-left: 0;
          }
          &:last-child {
            padding-right: 0;
          }

          border-bottom: 3px solid #00000017;
        }

        &-menu {
          position: fixed;
          top: 0;
          left: 0;
          width: 100vw;
          height: 100vh;
          background-color: $color-black;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
          z-index: 1001;
          display: flex;
          flex-direction: column;
          padding: 2rem;
          overflow-y: auto; // Ensure content can scroll if needed

          @media (min-width: 365px) {
            width: 45rem;
          }

          .menu-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 3rem;
            position: relative;

            width: 100%;
            height: 100%;

            .cross {
              position: absolute;
              top: 2vh;
              right: 2rem;
              color: rgba($color-white, 0.7);
              cursor: pointer;
            }

            .menu-items {
              width: 100%;
              height: 30%;

              list-style: none;
              padding: 0 2rem;

              &__item {
                position: relative;
                margin: 1rem 0;
                font-size: $font-size-md;

                .separator {
                  height: 1px;
                  background-color: $color-black-shade2;
                  margin-bottom: 0.5rem;
                }

                .item-title {

                  margin: 1rem 0;
                  font-size: $font-size-md;

                  font-weight: bold;
                  color: $color-white-shade1;

                  display: flex;
                  align-items: center;
                  flex-direction: row;
                  justify-content: space-between;

                  a {
                    text-decoration: none;
                    transition: color 0.3s ease;
                    font-size: inherit;
                    color: inherit;

                    &:hover {
                      color: $color-primary;
                    }
                  }
                }
              }
            }

            .contact-us {
              width: 100%;
              display: flex;
              align-items: center;
              justify-content: center;
              flex-direction: column;

              h2 {
                color: $color-white;
                font-size: $font-size-lg;
              }

              p {
                font-size: $font-size-base;
                color: $color-white-shade1;
              }
            }

            .logo-wrapper {
              width: 100%;
              height: 35%;
              display: flex;
              align-items: center;
              justify-content: center;

              .logo {
                width: 65%;
                height: 100%;

                img {
                  width: 100%;
                  height: 100%;
                  object-fit: contain;
                  object-position: center;
                }
              }
            }
          }
        }

        .active {
          border-bottom: 3px solid $color-primary;
        }

        &--admin {
          display: flex;
          align-items: center;
          font-size: 2rem;
          gap: 1rem;

          .item {
            display: flex;
            align-items: center;
            gap: 1rem;
            color: $color-black;
            font-size: $font-size-base;
            border: 1px solid rgba($color-black, 0.2);
            padding: 1rem 2.5rem;
            border-radius: 1rem;
            cursor: pointer;
          }

          .dashboard {
            color: $color-white;
            background-color: $color-primary;
          }
        }
      }

      .ofXl__contact-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;

        gap: 2rem;
        
        @media (min-width: $screen-xl) {
          display: none;
        }
        
        .ofXl__contact {

          border: 1px solid rgba($color-black, 0.1);
          height: 45px;
          padding: 0 1rem;

          display: flex;
          align-items: center;
          justify-content: center;
          
          font-size: $font-size-md-1;
          text-transform: uppercase;
        }
      }
    }

    a {
      img {
        width: 25rem;
        height: 100%;
        margin-right: 1rem;

        @media (max-width: $screen-sm) {
          width: 10rem;
          height: 100%;
          // margin: 1rem;
        }
      }
    }
  }
}

.header__lower-border {
  width: 100%;
  height: 5px;
  background-color: #d17d006c;
  z-index: 1000000;
  margin-top: 160px;
}

#admin-header {
  min-height: 5vh;
  max-height: 15vh;
  padding: 0 20rem;

  overflow: hidden;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  .logo-title {
    text-transform: uppercase;
    font-size: $font-size-2xl;
    letter-spacing: -0.3rem;
    font-weight: $font-bold;

    color: $color-primary;
  }

  .btns {
    display: flex;
    align-items: center;
    flex-direction: flex-end;
    justify-content: center;
    gap: 1rem;
  }
}
