#about {
  margin: 20rem auto;

  .container {
    padding: 0 20rem;

    @media (max-width: $screen-2xl) {
      padding: 1rem 15rem 0;
    }

    @media (max-width: $screen-xl) {
      padding: 1rem 10rem 0;
    }

    @media (max-width: $screen-lg) {
      padding: 1rem 8rem 0;
    }

    @media (max-width: $screen-md) {
      padding: 1rem 2rem 0;
    }

    display: grid;
    gap: 120px;

    @media (min-width: $screen-xl) {
      grid-template-columns: 0.7fr 1fr;
      gap: 3rem;
    }

  }

  .about-content {
    text-align: center;
    .label {
      margin-bottom: -0.5rem;
    }

    .headline {
      margin-top: 1.5rem;
      margin-bottom: 2rem;
    }

    .description {
      text-align: justify;

      font-size: $font-size-base;
      letter-spacing: 0.1rem;
      line-height: 2rem;
      word-spacing: 0.2rem;
    }

    .mobile-text {
      font-size: $font-size-md;
      color: $color-primary;
      margin-top: 2.5rem;

      margin-bottom: 2.5rem;
    }

    .mobile {
      border: 0.5rem solid rgba($color-white, 0.2);
      color: $color-white;
      padding: 1rem 2rem;

      background-color: $color-primary;
      border-radius: 1rem;

      font-size: $font-size-lg;
    }
  }

  .about-banner {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: flex-end;

    @media (max-width: $screen-xl) {
      display: none;
    }

    &__img {
      text-align: right;
      // width: 100%;
      // // height: 90%;
      // object-fit: cover;
      // object-position: center;

      // @media (min-width: 1100) {
      //   // height: 100%;
      // }
    }

    .abs-img {
      position: absolute;

      top: -5rem;
      right: -5rem;

      &::before {
        z-index: -1;
      }
    }

    .abs-img-1 {
      position: absolute;

      bottom: -6rem;
      left: 5rem;

      .content-wrapper {
        height: 20rem;
        border-radius: 0.6rem;
        // overflow: hidden;
        position: relative;

        border-radius: 1.5rem;

        video {
          object-fit: cover;
          object-position: center;
          height: 100%;
          cursor: pointer;

          border-radius: 1.5rem;
        }

        .play-icon {
          position: absolute;
          top: 0;
          left: 0;

          width: 100%;
          height: 100%;

          display: flex;
          align-items: center;
          justify-content: center;

          background-color: $color-black-shade1;

          border: 1rem solid rgba($color-primary-light, 0.5);
          border-radius: 2rem;
        }

        &::before {
          content: "";
          background: url("../../../../public/images/img-pattern.svg") repeat
            center center;
          // background-size: cover;
          position: absolute;
          bottom: -5rem;
          left: 10rem;
          height: 45vh;
          width: 50%;
          z-index: -1;

          border-radius: 2rem;
        }
      }
    }
  }
}
