#all-items {
  min-height: 75vh;
  padding: 1rem 20rem;
  text-align: center;

  @media (max-width: $screen-2xl) {
    padding: 1rem 15rem 0;
  }

  @media (max-width: $screen-xl) {
    padding: 1rem 10rem 0;
  }

  @media (max-width: $screen-lg) {
    padding: 1rem 8rem 0;
  }

  @media (max-width: $screen-md) {
    padding: 1rem 2rem 0;
  }

  .menu {
    .btn {
      margin-inline: auto;
      margin-block-start: 26px;
    }

    .shape {
      display: block;
      width: 70%;

      &-2 {
        top: 0;
        left: 0;
      }

      &-3 {
        bottom: 0;
        right: 0;
      }
    }

    &-card {
      display: flex;
      align-items: center;
      // gap: 2rem;

      padding: 1rem 0;
      border: 1px solid rgba($color-primary-light, 0.2);
      border-radius: 1rem;

      .card-banner {
        flex-shrink: 0;
        border-radius: 24px;

        .img-cover {
          transition: 500ms ease;
        }
      }

      .card-title {
        transition: 250ms ease;

        &:is(:hover, :focus-visible) {
          color: $color-primary;
        }
      }

      .badge {
        background-color: $color-primary;
        color: hsla(210, 4%, 9%, 1);
        font-family: "Forum", cursive;
        max-width: max-content;
        line-height: 1.4em;
        text-transform: uppercase;
        padding-inline: 10px;
        margin-block-start: 10px;
      }

      .span {
        color: $color-white;
        margin-block: 10px;
      }

      .card-text {
        color: hsla(0, 0%, 65%, 1);
        line-height: 1.6em;
      }

      @media (min-width: 575px) {
        .title-wrapper {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          gap: 15px;
        }

        .badge {
          margin-block-start: 0;
        }

        .span {
          flex-grow: 1;
          display: flex;
          align-items: center;
          gap: 15px;
          position: relative;

          .order-text-wrapper {
            padding: 0.8rem 2.8rem;
            background-color: rgba($color-primary-extradark, 0.9);
            cursor: pointer;
            text-transform: uppercase;
            font-size: $font-size-sm;

            display: flex;
            align-items: center;
            gap: 0.8rem;

            .icon-transition {
              transition: all 300ms;
            }
          }
        }

        .span::before {
          content: "";
          height: 6px;
          flex-grow: 1;
          border-block: 1px solid rgba($color-primary-extradark, 0.3);
        }
      }

      .content-wrapper {
        transition: all 300ms;
        width: 100%;

        padding: 0 2rem;

        .partners-show-wrapper {
          width: 100%;
          height: 4rem;
          background-color: transparent;

          border: 1px solid rgba($color-primary, 0.25);
          border-radius: 0.5rem;

          display: flex;
          align-items: center;
          justify-content: flex-start;

          padding: 0.4rem;
          gap: 0.8rem;

          transition-duration: 300ms;

          &__item {

            width: 4.8rem;
            height: 100%;
            background-color: $color-white;

            border-radius: 1rem;
            overflow: hidden;
            cursor: pointer;

            .img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              object-position: center;
            }
          }
        }

        h2 {
          font-size: $font-size-lg;
          font-weight: $font-light;

        }

        .p {
          transition: all 300ms ease-in-out;
          color: rgba($color-black, 0.7);

          font-size: $font-size-xs;
          width: 100%;

          display: flex;
          align-items: center;
          justify-content: flex-start;

          &:hover {
            color: $color-primary-dark;
          }
        }
      }
    }

    &-text {
      .span {
        display: inline-block;
        color: $color-primary;
      }
    }
  }

  .hover\:card {
    .card-banner {
      background-color: transparent;
      // background-color: $color-primary;

      .img-cover {
        transition: 500ms ease;
      }
    }

    &:is(:hover, :focus-within) {
      .card-banner {
        .img-cover {
          opacity: 0.7;
          transform: scale(1.05);
        }
      }
    }
  }
}
