#hiw {
  min-height: 45vh;
  @include basePadding;

  text-align: center;
  margin-top: 5rem;

  border-top: 1px solid rgba($color-black, 0.1);

  padding: 5rem 20rem 0;
  @media (max-width: $screen-2xl) {
    padding: 5rem 15rem 0;
  }

  @media (max-width: $screen-xl) {
    padding: 5rem 10rem 0;
  }

  @media (max-width: $screen-lg) {
    padding: 5rem 8rem 0;
  }

  @media (max-width: $screen-md) {
    padding: 5rem 2rem 0;
  }
  
  .hiw {
    &__items {
      min-height: 40vh;
      max-height: fit-content;
      display: block;

      margin-top: 4rem;

      display: flex;
      align-items: center;
      justify-content: center;

      gap: 1rem 1.5rem;

      flex-wrap: wrap
    }

    &__item {
      @include threeBoxes;
      padding: 3rem;
      
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;

      padding-top: 5rem;

      gap: 1rem;
    }
  }
}
