// styles.scss

#products {
  width: 100vw;
  height: 85vh;
  margin-top: 5rem;
  margin-bottom: 5rem;
  position: relative;

  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("../../../../public/images/products-bg.jpg") no-repeat
      center center;
    background-size: cover;
    opacity: 0.6;
    z-index: -1;
  }

  .products-carousel {
    display: flex;
    overflow: hidden;
    height: 100%;
    position: relative;
    width: 100%;

    .carousel-inner {
      display: flex;
      flex-direction: row;
      transition: transform 0.5s ease-in-out;

      .carousel-item {
        flex: 0 0 auto;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          max-width: 100%;
          max-height: 100%;
          object-fit: cover;
        }
      }
    }

    &:hover .carousel-control {
      background: rgba($color-primary, 1);
    }

    .carousel-control {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background: rgba($color-primary, 0.5);
      border: none;
      color: white;
      font-size: 2rem;
      cursor: pointer;
      z-index: 10;

      width: 5rem;
      height: 5rem;

      display: flex;
      align-items: center;
      justify-content: center;

      padding: 2rem;

      border-radius: 50%;

      &.prev {
        left: 20rem;
      }

      &.next {
        right: 20rem;
      }
    }
  }
}
