@import './abstracts/variables';
@import './abstracts/functions';
@import './abstracts/mixins';
@import './abstracts/placeholders';
@import './abstracts/scrollbar';
@import './abstracts/utils';

@import './base/animations';
@import './base/base';
@import './base/reset';
@import './base/typography';
@import './base/fonts';

@import './components/buttons';
@import './components/carousel';
@import './components/dropdown';
@import './components/modal';
@import './components/logo';

@import './layout/footer';
@import './layout/grid';
@import './layout/header';

@import './sections/home/hero';
@import './sections/home/hiw';
@import './sections/home/products';
@import './sections/home/about';
@import './sections/home/contact';
@import './sections/home/all-items';
// ADMIN
@import './sections/admin/topbar';
@import './sections/admin/dashboard';
@import './sections/admin/add-blog-title';
@import './sections/admin/add-blog-description';
@import './sections/admin/add-blog-banner';
// BLOGS
@import './sections/blog/tabs';
@import './sections/blog/content';

@import './pages/home';
@import './pages/admin';
@import './pages/blogs';
